---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import IconButton from "../components/IconButton.astro";
import { Image } from "astro:assets";
import reesePhoto from "../IMG_6422.jpg";
import reeseShot from "../IMG_6379.jpg";
import greensShot from "../IMG_6436.jpg";
---

<Layout title="RRV">
  <main>
    <nav class="px-8 py-3">
      <a href="#" class="text-4xl font-black text-[#dae85d]">rrv</a>
    </nav>
    <section class="h-screen">
      <div class="container mx-auto">
        <div class="flex gap-8 max-w-6xl mx-auto mt-4">
          <div>
            <div class="relative w-[28rem]">
              <Image
                src={reesePhoto}
                alt="Reese golfing"
                class="object-cover rounded-3xl"
              />
              <span
                class="absolute top-0 left-0 text-white text-9xl p-4 font-extrabold"
                >Let's</span
              >
              <span
                class="absolute top-1/4 left-0 text-white text-9xl p-4 font-extrabold"
                >Play</span
              >
              <span
                class="absolute top-1/2 left-0 text-white text-9xl p-4 font-extrabold"
                >Golf</span
              >
            </div>
          </div>
          <div class="flex flex-col gap-4">
            <h1
              class="text-[10rem] font-black text-right leading-[8rem] text-[#dae85d] p-2"
            >
              My Golf Journey
            </h1>
            <p class="p-2 text-white text-lg font-medium text-right">
              Join me as I embark on my golf journey in High School.
            </p>
            <div class="flex justify-end gap-2 p-2">
              <IconButton />
            </div>
          </div>
          <!-- <div class="flex gap-4 border border-red-600">
            <img
              src="https://picsum.photos/300/200"
              alt=""
              class="object-cover rounded-3xl h-64 w-64"
            />
            <img
              src="https://picsum.photos/300/200"
              alt=""
              class="object-cover rounded-3xl h-64 w-64"
            />
          </div> -->
        </div>
      </div>
    </section>
    <section class="h-screen bg-[#dae85d]">
      <div class="container mx-auto">
        <div class="flex pt-16">
          <div class="p-4">
            <div class="flex">
              <h2 class="basis-1/4">About Me</h2>
              <p class="text-8xl font-black">Who Is <br /> Reese</p>
            </div>
            <p class="mt-8 w-1/2">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Consequuntur quidem, quaerat a labore quas assumenda.
            </p>
          </div>
          <div class="relative w-96 h-96 mx-auto">
            <Image
              src={greensShot}
              alt="pretty green and flag"
              class="object-cover rounded-3xl"
            />
            <div class="absolute -bottom-24 -left-24 w-48">
              <Image
                src={reeseShot}
                alt="pretty green and flag"
                class="object-cover rounded-3xl"
              />
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>
