---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { Image } from "astro:assets";
import reesePhoto from "../IMG_6422.jpg";
---

<Layout title="Welcome to Astro.">
  <main>
    <nav class="px-8 py-3">
      <a href="#" class="text-4xl font-black text-[#dae85d]">rrv</a>
    </nav>
    <section
      class="h-screen bg-cover"
      style="background-image: url('/golfHero.png')"
    >
      <div class="container mx-auto">
        <div class="flex justify-center gap-8 p-8">
          <div class="w-1/4">
            <div class="p-4 bg-white">
              <Image
                src={reesePhoto}
                alt="Reese golfing"
                class="object-cover"
              />
            </div>
          </div>
          <div class="w-min">
            <h1
              class="text-[10rem] font-black text-right leading-[8rem] text-[#dae85d] p-2 rounded"
            >
              My Golf Journey
            </h1>
            <p class="p-2 text-white text-lg font-medium">
              Join me as I embark on my golf journey in High School.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="h-screen bg-[#dae85d]"></section>
  </main>
</Layout>
