---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import IconButton from "../components/IconButton.astro";
import { Image } from "astro:assets";
import reesePhoto from "../IMG_6422.jpg";
import reeseShot from "../IMG_6379.jpg";
import greensShot from "../IMG_6436.jpg";
---

<Layout title="RRV">
  <main>
    <nav class="px-8 py-3">
      <a href="#" class="text-4xl font-black text-[#dae85d]">rrv</a>
    </nav>
    <section class="min-h-screen">
      <div class="container mx-auto">
        <div class="flex gap-8 max-w-6xl mx-auto mt-4">
          <div>
            <div class="relative w-[28rem]">
              <Image
                src={reesePhoto}
                alt="Reese golfing"
                class="object-cover rounded-3xl"
              />
              <span
                class="absolute top-0 left-0 text-white text-9xl p-4 font-extrabold"
                >Let's</span
              >
              <span
                class="absolute top-1/4 left-0 text-white text-9xl p-4 font-extrabold"
                >Play</span
              >
              <span
                class="absolute top-1/2 left-0 text-white text-9xl p-4 font-extrabold"
                >Golf</span
              >
            </div>
          </div>
          <div class="flex flex-col gap-4">
            <h1
              class="text-[10rem] font-black text-right leading-[8rem] text-[#dae85d] p-2"
            >
              My Golf Journey
            </h1>
            <p class="p-2 text-white text-lg font-medium text-right">
              Join me as I embark on my golf journey in High School.
            </p>
            <div class="flex justify-end gap-2 p-2">
              <IconButton />
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="min-h-screen bg-[#dae85d]">
      <div class="container mx-auto">
        <div class="flex pt-16">
          <div class="p-4">
            <div class="flex">
              <h2 class="basis-1/4 text-2xl font-black">About Me</h2>
              <p class="text-8xl font-black">Who Is <br /> Reese</p>
            </div>
            <p class="mt-8 w-1/2">
              Reese has embarked on an exciting journey into the world of golf,
              driven by a passion for the game and a dream to join her high
              school's golf team. With determination and dedication, she is
              honing her skills and striving to make her mark in the sport.
            </p>
          </div>
          <div class="relative h-96 mx-auto basis-1/2">
            <Image
              src={greensShot}
              alt="pretty green and flag"
              class="object-cover rounded-3xl"
            />
            <div class="absolute -bottom-24 -left-24 w-48">
              <Image
                src={reeseShot}
                alt="pretty green and flag"
                class="object-cover rounded-3xl"
              />
            </div>
          </div>
        </div>
        <div class="mt-8 flex justify-end w-1/2">
          <div class="w-3/4">
            <h2 class="text-2xl font-black p-2">Courses I have played</h2>
            <div
              class="grid gap-1 grid-cols-2 auto-rows-auto overflow-y-auto max-h-96"
            >
              <div
                class="p-2 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:text-[#17aadf] hover:font-medium duration-300"
              >
                Cross Creek Golf Club
              </div>
              <div
                class="p-2 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:text-[#17aadf] hover:font-medium duration-300"
              >
                The Golf Club at Bradshaw Farm
              </div>
              <div
                class="p-2 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:text-[#17aadf] hover:font-medium duration-300"
              >
                Brookstone Golf & Country Club
              </div>
              <div
                class="p-2 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:text-[#17aadf] hover:font-medium duration-300"
              >
                Hawks Ridge Golf Club
              </div>
              <div
                class="p-2 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:text-[#17aadf] hover:font-medium duration-300"
              >
                Fairways of Canton Golf Club
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>
