---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { Image } from "astro:assets";
import reesePhoto from "../IMG_6422.jpg";
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="container mx-auto px-4">
      <div class="flex gap-4">
        <div
          class="max-h-96 basis-1/2 transition-all duration-300 cursor-pointer filter hover:grayscale"
        >
          <Image
            src={reesePhoto}
            widths={[240]}
            sizes={`(max-width: 360px) 240px`}
            alt="A bird sitting on a nest of eggs."
            class="rounded-md"
          />
        </div>
        <div class="basis-1/2">
          <h1 class="text-6xl text-white">Reese Rowland-Varner</h1>
        </div>
      </div>
    </div>
  </main>
</Layout>
